@import url("./base.css");

body {
  font-family: Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: var(--color0);
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
  width: 100%;
  max-width: 50%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--black);
  font-weight: bold;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: var(--black);
}

input {
  width: 100%;
  padding: .75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--black);
  border-radius: .5rem;
  background-color: var(--white);
  color: var(--black);
}

input[type="submit"] {
  width: 100%;
  padding: .75rem;
  background-color: var(--color1);
  color: var(--white);
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--color2);
}

p {
  font-size: 1rem;
  margin-top: 1.5rem;
  color: var(--black);
  text-align: center;
}

p a {
  color: var(--color2);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}